[Unit]
Description=Raspberry Pi Audio Recorder
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStartPre=
ExecStart=/home/pi/go/bin/pirec /home/pi/pirec-config.json
ExecStartPost=
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target
